@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

thead th {
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 20px;
    font-weight: normal;
    color: #1F1F1F;
}

th.bold {
    font-weight: bold;
}

td.gray {
    color: #808080;
}

span.black {
    color: #000000;
}

a {
    color: #8a8a8a;
    font-size: 12px;
}

button {
    background-color: #ffffff;
    border: .7px solid #d3d3d3;
    border-radius: 2px;
    padding: 7px 12px;
    font-size: 14px;
}

span.show-variable {
    padding: 10px;
    font-size: 12px;
}

.old-price {
    color: #CCCCCC;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.75px;
    text-decoration: line-through;
}

.price {
    color: #474747;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.image {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}