@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume {
    width: 334px;
    height: 364px;
    font-family: Inter;
    background-color: blue;
    border-radius: 4px;
    padding: 30px;
}

.cart-resume-header {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.right-item1 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    background-color: red;
    width: (274px);
    height: (22px);
    justify-content: space-between;
}

.right-item2 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    background-color: red;
    width: (274px);
    height: (22px);
    justify-content: space-between;
}

.right-item3 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    background-color: red;
    width: (274px);
    height: (22px);
    justify-content: space-between;
}

.right-item4 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    background-color: red;
    width: (274px);
    height: (22px);
    justify-content: space-between;
}

.card {
   font-size: 14px;
   font-weight: 500;
   size: 14px;
   line-height: 22px;
   letter-spacing: 0.25px; 
   text-align: left;
}

.resume-price {
    font-weight: 500;
    size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    text-align: end;
}

.resume-button{
    padding-top: 30px;
    width: 274px;
    height: 40px;
    font-family: Inter;
}