.cart-resume-header {
    color:#474747;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 0.75px;
    border-bottom: 1px solid #CCCCCC;
}