@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume {
    width: 334px;
    height: 364px;
    font-family: Inter;
    border-radius: 4px;
    padding: 30px;
    padding-top: 0px;
}

.cart-resume-header {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}

.right-itens {
    padding-top: 30px;
    display: flex;
    align-items: center;
    width: 274px;
    height: 22px;
    justify-content: space-between;
    margin-top: 10px;
}

.right-itens span {
    color: #1F1F1F;
}

.right-itens-text {
    color: #8F8F8F;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
    text-align: left;

}

.total-item {
    padding-top: 30px;
    display: flex;
    align-items: center;
    width: 274px;
    height: 22px;
    justify-content: space-between;
    margin-top: 15px;
}

.total-item-text p {
    color: #1F1F1F;
    font-size: 18px;
    font-weight: 700;
    font-family: Inter;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: left;

}

.total-item span {
    color: #EE4266;
    font-size: 18px;
    font-weight: 700;
    font-family: Inter;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: left;
}

.parcelamento {
    color: #8F8F8F;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: right;
    padding-top: 20px;

}

.card {
   font-size: 14px;
   font-weight: 500;
   size: 14px;
   line-height: 22px;
   letter-spacing: 0.25px; 
   text-align: left;
}

.resume-price {
    font-weight: 500;
    size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    text-align: end;
}

.resume-button{
    font-family: Inter;
    background-color: #F6AA1C;
    color: #FFFFFF;
    border-radius: 10px;
    width: 274px;
    height: 40px;
    margin-top: 25px;
    cursor: pointer;
}

.resume-button:hover {
    background-color: #c88a16;
}
