
.Title{

width: 440px;

color: var(--dark-gray, #1F1F1F);
font-feature-settings: 'clig' off, 'liga' off;

font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1px;
}

.paragraph{
 display: flex;
width: 425px;
height: 21px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: var(--dark-gray-3, #666);
font-feature-settings: 'clig' off, 'liga' off;

font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.5px;
}
.star1{
    display: flex;
    gap: 5px;
    align-items: center;
}

p {
    color: var(--light-gray, #8F8F8F);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
}

.rate {
    display: inline-flex;
    background: #F6AA1C;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
    width: 63px;
    padding: 6px 10px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.25px;
}

.product-description {
    color: #8F8F8F;
    width: 440px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.25px;
}
.money {
    color: #474747;
    font-size: 25px;
    width: 250px;
    top: 430px;
    left: 844px;
    font-weight: bold;
}
.currency {
    font-size: 13px;
}

input[name="size"] {display: none}

label:has(input[name="size"]:checked) {
    background-color: #C92071;
    color: #fff;
}

label {
    padding: 12px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #474747;
}
.colors {
    display: flex;
    gap: 10px;
}
.color {
    width: 39px;
    height: 39px;
    border-radius: 20px;
}
.color:nth-child(1) {
   background-color: #6FEEFF; 
}
.color:nth-child(2) {
   background-color: #FF6969;
}
.color:nth-child(3) {
   background-color: #5E5E5E;
}
.color:nth-child(4) {
   background-color: #6D70B7;
}
.buy {
    width: 220px;
    height: 48px;
    color: #F5F5F5;
    background-color: #F6AA1C;
    font-weight: bold;
    margin-top: 27px;
    border-radius: 5px;
}