.productCard {
    /* min-width: 180px; */
    width: calc((100% - 80px) / 4);
    max-width: 360px;
    position: relative;
}

.productCard img {
    aspect-ratio: 9/10;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    margin-bottom: 18px;
}

.category {
    font-size: 12px;
    font-weight: 700;
    color: #8f8f8f;
}

.product-description {
    color: #474747;
    font-size: 24px;
    margin-block: 7px;
}

@media screen and (max-width: 1090px) {
    .productCard {
        width: calc((100% - 80px) / 3);
    }
}

@media screen and (max-width: 720px) {
    .productCard {
        width: 45%;
    }
}