@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.featured-collections {
  height: 700px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.featured-collections .title-section {
  margin-top: 38px;
  margin-left: 100px;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; 
  letter-spacing: 0.75px;
  flex-direction: column;
}

.featured-collections-dad {
  display: flex;
  margin: 20px 100px;
  gap: 12px;
}

.featured-collections-dad span {
  display: inline-flex;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
  margin-top: 34px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 29px;
  background: #E7FF86;
}

.featured-collections-dad p {
  color: var(--dark-gray, #1F1F1F);
  width: 172px;
  margin-top: 10px;
  margin-left: 30px;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  letter-spacing: 1px;
}

.featured-collections-dad a {
  text-decoration: none;
  display: flex;
  width: 153px;
  height: 48px;
  margin-top: 20px;
  margin-left: 30px;
  flex-direction: column;
  justify-content: center;
  color: var(--primary, #C92071);
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.75px;
}

.featured-collections-dad a:hover {
  color: #fff;
  background-color: #C92071;
}

.box-collection {
  margin: auto;
  width: 405px;
  height: 251px;
  border-radius: 8px;
  background: #D8E3F2;
}

.featured-collections-shirt {
  background-image: url(../css/images-sessao-destaque/camisa-starwars.png);
  background-repeat: no-repeat; 
  background-position: bottom right;
}

.featured-collections-headphone {
  background-image: url(../css/images-sessao-destaque/headphone.png);
  background-repeat: no-repeat; 
  background-position: bottom right;
  }

.featured-collections-shoes {
  background-image: url(../css/images-sessao-destaque/tenis.png);
  background-repeat: no-repeat; 
  background-position: bottom right;
}

.featured-collections-headphone p {
  width: 184px;
}

#highlight {
  color: #474747;
  font-family: 'Inter';
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}

.content-container-icons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  gap: 48px;
}

.icon {
  width: 104px;
  height: 104px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(46, 46, 46, 0.225);
}

.icon a {
  text-decoration: none;
  color: #474747;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.icon a:hover {
  color: #C92071;
}

.item-shirt {
  background: #fff url(../css/images-sessao-destaque/tshirt.svg) no-repeat center center;
  position: relative;
}

.item-shirt > a {
  position: absolute;
  top: 110px;
  left: 11px;
} 

.item-pants {
  background: #fff url(../css/images-sessao-destaque/pants.svg) no-repeat center center;
  position: relative;
}

.item-pants > a {
  position: absolute;
  top: 110px;
  left: 28px;
}

.item-hat {
  background: #fff url(../css/images-sessao-destaque/pants.svg) no-repeat center center;
  position: relative;
}

.item-hat > a {
  position: absolute;
  top: 110px;
  left: 30px;
}

.item-headphone {
  background: #fff url(../css/images-sessao-destaque/headphones.svg) no-repeat center center;
  position: relative;
}

.item-headphone > a {
  position: absolute;
  top: 110px;
  left: 6px;
}

.item-shoes {
  background: #fff url(../css/images-sessao-destaque/sneakers.svg) no-repeat center center;
  position: relative;
}

.item-shoes > a {
  position: absolute;
  top: 110px;
  left: 33px;
}

.subtitulo {
  padding-top: 10px;
  margin-left: 327px;
  margin-right: 396px;
}

.subtitulo a {
  color: var(--cor05);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  position: relative;
}

@media screen and (min-width: 992px) and (max-width: 1350px) {
  .featured-collections-dad p {
    font-size: 25px;
  }

  .featured-collections-dad .featured-collections-shirt, .featured-collections-shoes,.featured-collections-headphone {
    background-size: auto 18vw;
  }
}

@media screen and (min-width: 790px) and (max-width: 992px) {

.featured-collections {
  height: 1200px;
}

.featured-collections .title-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.featured-collections-dad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 35px;
}

.featured-collections-dad p {
  width: 40vw;
  margin-top: 20px;
}

.featured-collections-dad span {
  margin-top: 45px;
}

.featured-collections-dad a {
  margin-top: 20px;
}

.featured-collections-shirt, .featured-collections-shoes, .featured-collections-headphone {
  width: 87vw;
  background-position: bottom right;
  background-size: 250px auto;
}

.content-container-icons {
  flex-direction: row;
  justify-content: center;
}

}

@media screen and (min-width: 375px) and (max-width: 790px) {
.featured-collections {
  height: 1200px;
}

.featured-collections .title-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.featured-collections-dad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
}

.featured-collections-dad p {
  width: 200px;
  margin-top: 20px;
}

.featured-collections-dad span {
  margin-top: 30px; 
}

.featured-collections-dad a {
  margin-top: 20px;
}

.featured-collections-shirt, .featured-collections-shoes, .featured-collections-headphone {
  width: 90vw;
  background-position: bottom right;
  background-size: 250px auto;
}

.container-icons {
  overflow-x: scroll;
  height: 200px;
}

.content-container-icons {
  width: 800px;
  padding-top: 15px;
  justify-content: start;
  margin-left: 30px;
}

}

@media screen and (max-width: 375px) {

.featured-collections {
  height: 1100px;
}

.featured-collections .title-section {
  margin-left: 20px;
  margin-right: 160px;
  width: 287px;
}

.featured-collections-dad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.featured-collections-shirt, .featured-collections-shoes, .featured-collections-headphone {
  width: 338px;
  max-width: 300px;
  height: 212px;
  background-size: 195px 210px;
}

.featured-collections-dad span {
  margin-top: 20px;
}

.featured-collections-dad p {
  width: 175px;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-icons {
  overflow-x: scroll;
  height: 200px;
}

.content-container-icons {
  width: 800px;
  padding-top: 15px;
  justify-content: start;
  margin-left: 30px;
}

}
