:root {
  --color-primary: #C92071;
  --color-primary-dark: #991956;
  --color-warning: #F6AA1C;
  --color-dark-gray: #1F1F1F;
  --color-dark-gray-2: #474747;
  --color-light-gray-2: #CCCCCC;
  --color-light-gray-3: #F5F5F5;
}

.main-banners {
  font-family: 'Inter', sans-serif;
  background: var(--color-light-gray-3);
  padding: 5rem 6.25rem 3rem 6.25rem;
  overflow: hidden;
}

.main-banners .ornament {
  position: absolute;
  right: -3rem;
  top: 0;
}

.main-banners .container {
  max-width: 1240px;
  margin: auto;
}

.main-banners .carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.main-banners .col-1 {
  width: 45%;
}

.main-banners .col-2 {
  width: 50%;
}

.main-banners .title-banner {
  color: var(--color-dark-gray);
  font-size: 4rem;
  font-weight: 800;
  line-height: 103.125%;
  letter-spacing: 1px;
  margin: 1.25rem 0;
}

.main-banners .text-small-banner {
  color: var(--color-warning);
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.75px;
}

.main-banners .text-banner {
  color: var(--color-dark-gray-2);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 188.889%;
  letter-spacing: 0.75px;
}

.main-banners .img-banner img {
  width: 100%;
  animation: floating 3s ease-in-out infinite
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.main-banners .navigation-buttons {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.main-banners .navigation-buttons span {
  background-color: var(--color-light-gray-2);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.main-banners .navigation-buttons span.active {
  background-color: var(--color-primary);
}

.main-banners .btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light-gray-3);
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.75px;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  padding: 1.125rem 3.75rem;
  transition: 3ms;
}

.main-banners .btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.main-banners .mt-40 {
  margin-top: 2.5rem;
}

@media (max-width: 1023px) {

  .main-banners {
    padding: 5rem 2rem 3rem 2rem;
  }

  .main-banners .ornament {
    right: -5rem;
  }

  .main-banners .container {
    max-width: 90%;
    margin: auto;
  }

  .main-banners .col-1 {
    width: 50%;
  }

  .main-banners .title-banner {
    font-size: 2.5rem;
    line-height: 125%;
    letter-spacing: 1px;
  }

  .main-banners .text-small-banner {
    color: var(--color-primary);
    font-size: 1rem;
    line-height: 157.143%;
    letter-spacing: 0.75px;
  }

  .main-banners .text-banner {
    font-size: 1.rem;
    line-height: 157.143%;
    letter-spacing: 0.25px;
  }
}

@media (max-width: 768px) {

  .main-banners {
    padding: 5rem 1.25rem 3rem 1.25rem;
  }

  .main-banners .ornament {
    right: -5rem;
  }

  .main-banners .container {
    max-width: 100%;
    margin: auto;
  }

  .main-banners .carousel {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .main-banners .col-1 {
    width: 100%;
  }

  .main-banners .col-2 {
    width: 80%;
  }

  .main-banners .title-banner {
    font-size: 2.5rem;
    line-height: 125%;
    letter-spacing: 1px;
  }

  .main-banners .text-small-banner {
    color: var(--color-primary);
    font-size: 1rem;
    line-height: 157.143%;
    letter-spacing: 0.75px;
  }

  .main-banners .text-banner {
    font-size: 1.rem;
    line-height: 157.143%;
    letter-spacing: 0.25px;
  }

  .main-banners .img-banner {
    min-width: 300px;
  }

  .main-banners .btn-primary {
    display: block;
  }
}
