.carrouselContainer {
    width: 58%;
    position: relative;
}

.galleryImages {
    display: flex;
    width: 100%;
    position: relative;
    gap: 28px;
}

.galleryImages img {   
    width: calc((100% - 112px)/5);
    aspect-ratio: 1.22;
    object-fit: cover;
    
}

.currentImage img {
    width: 100%;
    aspect-ratio: 1.22;
    object-fit: contain;
    background-color: #E2E3FF;
    border-radius: 4px;
    padding: 50px;
}
.sliderArrows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    background: none;
    border: none;
    border-left: 3px solid black; 
    border-bottom: 3px solid black;
    aspect-ratio: 1;
    margin: 10px;
}
.sliderArrows.right {
    right: 0;
    border: none;
    border-top: 3px solid black; 
    border-right: 3px solid black; 
}
.currentImage{
    position: relative;
}
